body,
html {
  height: auto;
}

.header {
  background: #fff;
  position: fixed;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.09);
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 70px;
}

.header-nav {
  padding-top: 0;
  padding-bottom: 0;
}

.header-nav > ul {
  height: 100%;
}

.header-nav > ul > li {
  font-family: "Open sans", Helvetica, sans-serif;
  font-weight: bold;
  list-style-type: none;
  float: right;
  margin-top: 0.5%;
  margin-left: 1%;
  margin-right: 5%;
}

.nav-links > .git {
  margin-left: 20px;
}

.nav-links > li {
  cursor: pointer;
}

.media {
  float: left;
  margin-left: 0%;
  width: 40px;
  border-radius: 10%;
  cursor: pointer;
}

.label {
  font-family: "Open sans", Helvetica;
  font-size: 55px;
  text-align: center;
}

/* -----------------------FIRST PAGE STYLES */
.profile-container {
  /* border: 1px solid rgb(224, 164, 86); */
  display: flex;
  margin-top: 5%;
  margin-bottom: 15%;
}

.picture {
  flex: 1;
  width: 35%;
}

.src-image {
  margin: 5%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.myself {
  flex: 2;
  margin-top: 1%;
}

.full-name {
  /* border: 1px solid #ccc; */
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-left: 3%;
  margin-right: 5%;
}

.about-myself {
  /* border: 1px solid #ccc; */
  font-family: "Open Sans", Helvetica;
  font-size: 25px;
  display: flex;
  margin-left: 3%;
  margin-right: 10%;
}

/* -----------------------SECOND PAGE STYLES */
.tech-skills-container {
  display: flex;
  position: relative;
  background: #000;
  justify-content: center;
  margin-top: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
}

.skill-set-label {
  font-family: "Open sans", Helvetica;
  font-size: 35px;
  position: absolute;
  top: 0%;
  bottom: 90%;
  left: 5%;
  color: #fff;
}

.tech-skills-label {
  font-family: "Open sans", Helvetica;
  font-size: 25px;
  color: #fff;
}

.tech-skills {
  margin-left: 5%;
  margin-right: 5%;
}

.software-development {
  margin-right: 5%;
}

.embedded-systems {
  margin-left: 5%;
}

.skill-list {
  color: #fff;
  font-family: "Open sans", Helvetica;
}

.skill-list > li {
  margin-bottom: 5%;
}

/* -----------------------THIRD PAGE STYLES */
.projects-container {
  position: relative;
  margin-top: 5%;
  margin-bottom: 20%;
  /* border: 1px solid #ccc; */
}

.projects-container > .projects {
  display: flex;
  position: relative;
  justify-content: center;
  /* border: 1px solid rgb(224, 164, 86); */
  margin-top: 5%;
}

.c1 {
  float: inline-start;
  margin-left: 4%;
  margin-right: 4%;
  width: 225px;
  height: 225px;
  border-radius: 10%;
  cursor: pointer;
}

.c1:hover {
  transition: box-shadow 0.2s linear;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

/* -----------------------FOURTH PAGE STYLES */
.about-container {
  background: #000;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  height: 700px;
}

.about-label {
  font-family: "Open sans", Helvetica;
  color: #fff;
}

.about-container > p {
  font-family: "Open sans", Helvetica;
  color: #fff;
  font-size: 25px;
}
